<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
            <td>MISSING PERSON NAME</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>ADDRESS</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>DETAILS</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>IMAGE</td>
            <td><input type="file"></td>
        </tr>
        <tr>
            <td>HEIGHT</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>WEIGHT</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>COLOR</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>FURTHER MORE DETAILS...</td>
            <td><input type="text"></td>
        </tr>
        <tr class="one">
            <td><a href="" class="edit">add</a></td>
        </tr>
    </table> 
</body>
</html>