<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table  border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>LOCATION</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th></th>
            <th></th>
        </tr>
        <tr class="one">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="" class="edit">edit</a></td>
            <td><a href=""class="delete">delete</a></td>
        </tr>
        <tr class="two">
            <td colspan="8" align="center">
                <a href=""class="delete">add hospitals</a>
                </td>
        </tr>
    </table>
</body>
</html>