<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
    
</head>
<body>
    <div class="two">
        
    <form action="">
        <h2>Registration Form</h2>
        <div class="one">
        <label for="text"class="one">Username</label>
        <input type="text" name=""><br>
        </div>
        <div class="one">
        <label for="text"class="one">Password</label>
        <input type="password" name="" ><br>
        </div>
        <div class="one">
        <label for="text"class="one">Name</label>
        <input type="text" name="" ><br>
        </div>
        <div class="one">
        <label for="text"class="one">DOB</label>
        <input type="date" name="" ><br>
        </div>
        <button type="submit">Submit</button>
        </div>
    
    </form>

</body>
</html>